*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}
button{
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
}
button:hover{
    opacity: 0.7;
    transition: 0.2 ease-in-out;
}

/* Navigation */
nav{
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: white;
    padding: 10px;
    z-index: 50;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    height: 50px;
}

/* Hero Section */
.hero{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.hero_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tag{
    background-color:  #149f39;
    padding: 5px 10px;
    color: white;
    align-self: flex-start;
}
.hero_content h1{
    font-size: 72px;
    line-height: 1.2;
    font-weight: 400;
}
.explore_btn{
    background: #ffc066;
    align-self: flex-start;
}


/* Features Section */
.features{
    margin-top: 550px;
    margin-bottom: 50px;
    padding: 0 50px;
    max-width: fit-content;
    display: flex;
    justify-content: center;
    height: 100px;
}
.feature{
    height: 100px;
    width: 650px;
    display: flex;
    gap: 20px;
    padding: 20px;
    transition: 0.2 ease-in-out;
    justify-content: center;
}
.feature img{
    width: 72px;
}
.feature:hover{
    transition: 0.2 ease-in-out;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.07);
}
.divider{
    border: 1px solid #ccc;
    margin: 20px 0;
}


/* Menu Section */
.menu{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    align-items: center;
}
.menu .tag{
    align-self: center;
}


/* Grid Section */
.grid{
    display: grid;
    gap: 10px;
    grid-template-areas:
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
}
.item1{
    grid-area: I1;
}
.item2{
    grid-area: I2;
}
.item3{
    grid-area: I3;
}
.item4{
    grid-area: I4;
}
.item5{
    grid-area: I5;
}
.item6{
    grid-area: I6;
}
.item7{
    grid-area: I7;
}
.grid_image{
    border-radius: 10px;
    transition: 0.2 ease-in-out;
    height: 100%;
    width: 100%;
}
.grid_image:hover{
    transform: scale(1.03);
    transition: 0.2 ease-in-out;
}


/* Footer sectiom */
footer{
    background-color: #fff0db;
    height: 200px;
    /* width: max-content; */
}
.link_list h3{
    margin-bottom: 10px;
    color: black;
}
.link_list ul{
    list-style: none;    
}
.link_list ul li{
    font-size: 16px;    
    margin-bottom: 5px;
}
.news_letter input{
    padding: 5px 40px;
    margin-bottom: 10px;
}
.icon_container{
    display: flex;
    margin-top: 5px;
    gap: 15px;
}
.footer_container{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}



@media (max-width: 786px) {
    .hero{
        flex-direction: column;
    }
    .hero_image{
        display: flex;
        justify-content: center;
    }
    .hero_image img{
        width: 80%;
    }
    .hero_content{
        gap: 10px;
        padding: 10px;
    }
    .hero_content h1{
        font-size: 32px;
    }
    .features{
        flex-direction: column;
        margin-top: 780px;
        width: 300px;
        height: 110px;
        padding-bottom: 120px;
        padding-top: 20px;
    }
    .feature{
        width: max-content;
        align-items: center;
        justify-content: center;
    }
    .grid{
        padding: 0 10px;
    }
    .footer_container{
        flex-direction: column;
        height: max-content;
        width:fit-content;
        background-color: #fff0db;
    }
    .container{
        width: fit-content;
    }
}


/* My Custom Adjusting */
@media only screen and (min-width: 785px) and (max-width:1000px){
    .features{
        padding: 0 15px;
    }
    .feature{
        height: 90px;
        width: 850px;
        display: flex;
        gap: 20px;
        padding: 10px;
    }
    .feature_content h3, .feature_content{
        font-size: 15px;
    }
}

@media only screen and (min-width: 350px) and (max-width:530px){
    .features{
        min-width: 350px;
        max-width: 350px;
        align-items: start;
        padding-left: 0;
    }
    .feature{
        align-items:left ;
        width: 350px;   
    }
    .feature_content h3, .feature_content{
        align-items:left ;
        font-size: 15px;
    }
    .feature img{
        width: 50px;
    }
}